<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO スキーマ名表示 -->
    <title>MySQL Visualizer - sample</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>
<body>
<h1>MySQL Visualizer Analysis of sample</h1>
<ul>
    <li th:each="table : ${tables}">
        <a href="table.html" th:href="@{'/tables/' + ${table.name}}"
           th:text="${table.name} + ' (' + ${table.comment} + ')'">table1</a>
    </li>
</ul>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>